<h1>Import Fanduel Data:</h1>

<h2>upload opponents first</h2>

<%= form_tag fdimport_path, multipart: true do %>
  <%= file_field_tag :file %><br>
  <%= submit_tag "Import CSV" %>
<% end %>

<br>
<br>

<div class = 'message'>
<%= flash[:message] if flash[:message] %>
</div>
