<table style="width: 100%;">
<%@counts.each do |position, players| %>
  <th><%="#{position}"%></th>
  <td>
    <h5>
      <%players.each do |player, top5count|%>
        <%= player%> - <%=top5count%><br>
      <%end%>
    </h5>
  </td>
<%end%>
</table>
<br>


<p><%= @top_5s_matrix %></p>
