// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table {
  border-spacing: 15px 0;
}

td {
  padding: 5px 0;
}

.benchmark{
  font-family: helvetica;
  font-style: italic;
  color: red;
}

#csv_links{
  width: 400px;
  border: solid 1px;
  border-color: red;
  position: fixed;
  right:100px;
  top: 150px;
  padding: 30px;
  line-height: 2em;
  font-family: helvetica;
}